<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p>Bienvenue sur l'indicateur de bonnes affaires
        <%= message %>
    </p>

    <form action="/" method="GET">

        <input type="text" name="urlLBC"/>

        <button type="submit">
            OK
        </button>

    </form>

    <p>Prix :
        <%= message2 %>
    </p>

    <p>Ville :
        <%= message3 %>
    </p>

    <p>Code postal :
        <%= message4 %>
    </p>

    <p>Type de bien :
        <%= message5 %>
    </p>

    <p>Surface :
        <%= message6 %>
    </p>

    <p>Prix moyen d'après le site Meilleur Agent :
        <%= message7 %>
    </p>

    <p>Conclusion :
        <%= message8 %>
    </p>
</body>

</html>
